h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 800%;
  font-weight: 1000;
  vertical-align: top;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #e5eef0;
}

h2 {
  font-family: "Manjari", sans-serif;
  font-size: 200%;
  text-align: center;
  text-shadow: 1px 1px 2px #e5eef0;
  color: white;
  font-weight: 1000;
  width: 90%;
  padding-left: 20px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/208628.jpg");
  background-size: 100%;
}

.hide {
  display: none;
}

.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.flex-column h1 {
  position: absolute;
  top: 0;
}

button {
  font-family: "Manjari", sans-serif;
  background-color: #0d172a;
  margin: 05px;
  border-radius: 2rem;
  color: white;
  font-weight: 300;
  line-height: 1;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

@media (max-width: 740px) {
  h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 400%;
    font-weight: 1000;
    vertical-align: top;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #e5eef0;
  }

  h2 {
    font-family: "Manjari", sans-serif;
    font-size: 130%;
    text-align: center;
    text-shadow: 1px 1px 2px #e5eef0;
    color: white;
    font-weight: 1000;
    width: 90%;
    padding-left: 20px;
  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/back.jpg");
    background-size: 100%;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .flex-column h1 {
    position: absolute;
    top: 0;
  }

  button {
    font-family: "Manjari", sans-serif;
    background-color: #0d172a;
    margin: 05px;
    border-radius: 2rem;
    color: white;
    font-weight: 300;
    line-height: 1;
    padding: 1rem 1.5rem;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  }
}
